{%extends "layout.html"%}
{%block content%}
<div class="home text-center">
    <h1>Homepage</h1>
    <img src="{{ url_for('static', filename='images/hello.png') }}">
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <p>Tantas ceteros maluisset has eu, cu mel tritani fabulas graecis, pri utinam epicurei ponderum te. Pro at partem petentium definitiones. In pro diceret phaedrum mnesarchum. Nullam noluisse id vis, quo ludus debitis posidonium te.</p>
</div>
{%endblock%}