{%extends "layout.html"%}
{%block content%}
<link rel="stylesheet" href="{{cdn_css | safe}}" type="text/css" />
<script type="text/javascript" src="{{cdn_js | safe}}"></script>

<div class="plot text-center">
    <h1>Plot</h1>
    <p>Lorem ipsum dolor sit amet, eu labitur omnesque legendos per, id vix natum alienum, at enim sale mazim ius. Causae melius tractatos eu sit, dicit detraxit voluptaria at mei, vim ei virtute disputando definitiones. Ne tation commune has. Dicta qualisque sed no, iudico pertinax cum te. Purto falli per an, sed ex noster equidem.
</p>
</div>
{{script1 | safe}}
{{div1 | safe}}
{%endblock%}