body{
    background-color: #CCC;
    margin: 0 auto;
}

.geocoder{
    margin: 0 auto;
    color: #444;
    text-align: center;
    border-bottom: 1px solid #DDD;
    transition: all 0.4s ease-in-out;
}

.geocoder table{
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
}

.geocoder button{
    width: 70px;
    height: 40px;
    margin: 4px;
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;
}